@use '../../style/variables'
@import '../../style/utils/utilies'

.layingActiveGS
  align-items: center
  display: flex
  flex-direction: column
  height: 45vh
  justify-content: flex-end
  width: 95vw

#firstDivGameSquare 
  background-color: rgba(249, 249, 249, 0.3)
  border-radius: 60px
  height: 90%
  width: 92%

  .trGames
    align-items: center
    display: flex
    height: 33.3%
    justify-content: center
    width: 100%

  .tdGames
    align-self: center
    color: #000
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    width: 33%

  .tdGames.winning
    background-color: rgb(255, 238, 0, 0.9)

  .square5
    border: 0.5rem solid #000

  .square2, .square8
    border-left: 0.5rem solid #000
    border-right: 0.5rem solid #000

  .square4, .square6
    border-top: 0.5rem solid #000
    border-bottom: 0.5rem solid #000

.firstDivGameSquareH1
  align-content: center
  align-items: center
  background-color: rgb(255, 255, 255, 0.9)
  display: flex
  justify-content: center
  height: 100%
  width: 90%

  .h1Names
    align-items: center
    display: flex
    justify-content: center
    color: rgba(46, 16, 16)
    font-family: cursive
    font-size: 4vh
    height: 50%
    text-align: center
    width: 70%

.h1XO
  align-items: center
  display: flex
  height: 80%
  font-size: 8em
  justify-content: center
  width: 80%
