#firstDivGameSquare 
  background-color: #fff
  height: 20rem
  width: 50%

  .tdGameS
    align-self: center
    color: #000
    height: 33%
    width: 33%

  .square5
    border: 0.5rem solid #000

  .square28
    border-left: 0.5rem solid #000
    border-right: 0.5rem solid #000

  .square46
    border-top: 0.5rem solid #000
    border-bottom: 0.5rem solid #000

.firstDivGameSquareH1
  align-content: center
  align-items: center
  background-color: #fff
  display: flex
  justify-content: center
  height: 20rem
  width: 50%

  .h1Names
    align-items: center
    display: flex
    justify-content: center
    color: rgba(46, 16, 16, 0.8)
    font-family: cursive
    font-size: 2rem
    height: 50%
    text-align: center

.h1XO
  align-content: center
  align-items: center
  display: flex
  height: 80%
  margin: 8%
  font-size: 5rem
  justify-content: center
  width: 80%