#playersHeader
  align-content: center
  align-items: center
  display: flex
  justify-content: space-between
  flex-direction: row
  padding-top: 1rem

  .divPlayer1,
  .divPlayer2
    align-content: center
    align-items: center
    display: flex
    gap: 1rem
    justify-content: center
    height: 100%
    margin-left: 1rem 
    text-justify: auto
    text-transform: capitalize
    width: 43%
