#firstDivGame
  align-content: center
  align-items: center
  align-self: center
  background-color: #daeaff4b
  display: flex
  justify-content: center
  flex-direction: column
  margin: 5%
  height: 90%
  width: 90%

  #headerParticipating
    align-content: center
    align-items: center
    display: flex
    justify-content: center
    flex-direction: row
    min-height: 25%
    padding-bottom: 0.5rem
    width: 70%

  .lineDivisory
    border: 0.15rem solid blue
    border-radius: 0 0 1rem 1rem
    margin-bottom: 2rem
    width: 60%

  .lineDivisoryFooter
    border: 0.15rem solid blue
    border-radius: 1rem 1rem 0 0
    margin-bottom: 2rem
    width: 60%

  #bodyGame
    display: flex
    justify-content: center
    height: 60%
    padding-bottom: 2rem
    width: 70%

  #footerGame
    border: 1px solid gold
    display: flex
    justify-content: center
    height: 15%
    width: 70%
